@media all and (max-width: 800px) {

    .container {
        width: 100%;

        margin: 0;
    }

    .menu-comp ul {
        flex-direction: column;

    }

    .menu-comp ul li {
        padding: 7px;
        color: white;


    }

    .menu-comp {
        height: auto;

    }

    .logo {

        width: 100%;
        height: 40px;

        
        color: white;
    }

    .contakt {
        width:30%;
        font-size: 15px;
    }

   

    #page {
        flex-direction: column;
    }

    .maps {
        flex-direction: column;
    }

    .footer {
        margin: 0;
    }

    .about-1,
    .about-2 {
        flex-direction: column;
    }

    .abu-1 {
        width: 80%;
        height: auto;
    }
    .abu-1 i {
        text-align: end;
      
    }

    .right {
        display: none;
    }

    .karta iframe{
        width: 700px;
    }
    /* myahki */
    #page{
        flex-direction: column;
    }
    #page1{
        flex-direction: column;
    }
    .center-text{
        width: auto;
    }
    .form-image img{
        width: 150px;
        margin: 0;
    }
    .logo-rasm img {
        width: 100px;
    }
    .myahki-page {
        border-radius: 5px;
    width: 100%;
        text-align: start;
        background-color: #ffffff;
    }
    .myahki-page img{
        width: 100%;
        height: auto;
        margin: 0%;
    }
    .spal-full{
        display: block;

    }
    .spal-full img{
        width: 100%;
    }
    #full-sp{
        width: 100%;
    }
}

@media all and (max-width: 536px) {
    .karta iframe{
        width: auto;
    }
    #ssll{
        display: none;
    }
    .center-text{
        font-size: 25px;
    }
    .maps-rasm{
        width: auto;
        height: 100%;
    }
    *{
        box-sizing: border-box;
        margin: 0%;
    }
    .spal-full{
      margin: 5%;
      padding: 0%;
    }
    #spf{
        width: 90%;
    }
    .contakt {
        width: 30%;
        font-size: 10px;
    }
    #page1{
        flex-direction: column;
    }
    .myahki-page {
        border-radius: 5px;
    width: 100%;
        text-align: start;
        background-color: #ffffff;
    }
    .myahki-page img{
        width: 100%;
        height: auto;
        margin: 0%;
    }
}